MISTRAL_API_KEY= #ai-secret -> MISTRAL_API_KEY
AUTH_MONGO_URI= #database -> AUTH
GOOGLE_CLIENT_ID= #google -> GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET= #google -> GOOGLE_CLIENT_SECRET
JWT_SECRET= #jwt -> JWT