apiVersion: v1
kind: Secret
metadata:
  name:  database
type: Opaque
stringData:
  AUTH: mongodburl/auth
  SANDBOX: mongodburl/sandbox
  AI: mongodburl/ai
  SYNC-AGENT: mongodburl/sync-agent
  REDIS_URL: redisurl
  RABBITMQ_URL: cloudamqpurl

---

apiVersion: v1
kind: Secret
metadata:
  name: jwt
type: Opaque
stringData:
  JWT_SECRET: jwtsecret

---

apiVersion: v1
kind: Secret
metadata:
  name: google  
type: Opaque
stringData:
  GOOGLE_CLIENT_ID: googleclientid
  GOOGLE_CLIENT_SECRET: googleclientsecret
  GOOGLE_REFRESH_TOKEN: googlerefreshtoken
  EMAIL_USER: your_email

---

apiVersion: v1
kind: Secret
metadata:
  name: ai-secret
type: Opaque
stringData:
  MISTRAL_API_KEY: mistralapikey


---

# terminal command :-

kubectl create secret generic database `
  --from-literal="AUTH=mongodburl/auth" `
  --from-literal="SANDBOX=mongodburl/sandbox" `
  --from-literal="AI=mongodburl/ai" `
  --from-literal="SYNC-AGENT=mongodburl/sync-agent" `
  --from-literal="REDIS_URL=redisurl" `
  --from-literal="RABBITMQ_URL=cloudamqpurl"

kubectl create secret generic jwt `
  --from-literal="JWT_SECRET=jwtsecret"

kubectl create secret generic google `
  --from-literal="GOOGLE_CLIENT_ID=googleclientid" `
  --from-literal="GOOGLE_CLIENT_SECRET=googleclientsecret" `
  --from-literal="GOOGLE_REFRESH_TOKEN=googlerefreshtoken" `
  --from-literal="EMAIL_USER=your_email"

kubectl create secret generic ai-secret `
  --from-literal="MISTRAL_API_KEY=mistralapikey"